<% if companies.present? %>
  <div class="row">
    <% companies.each do |company| %>
      <div class="company">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="/images/<%= company.image_url %>" alt="" >
            </div>
            <div class="panel-body">
              <% if company.persisted? %>
                <p class="company-title"><%= link_to company.name, company %></p>
              <% else %>
                <p class="company-title"><%= company.name %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>