<%= form_tag(clean_company_clean_threads_path, method: 'post') do %>
  <div class = "form-group">
    <%= text_area_tag 'content', '', class: 'form-control' %>
  </div>
  <div class = "text-right">
    <%= submit_tag 'メッセージ送信',class: 'btn btn-success' %><br />
  </div>
<% end %>