<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>清掃業者マッチングサービス</h1>
          <% unless logged_in? %>
            <%= link_to 'Cleansを始める', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if logged_in? %>
  <%= link_to '業者一覧をみる', clean_companies_url, class: 'btn btn-primary' %>
<% end %>
