/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@charset "utf-8";

/* body */
body {
  background: #f2f2f2;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 800px;
  background: url("/images/clean.jpeg") center center no-repeat;
  background-size: cover;
}
.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.15em;
}

/* clean_company */
/*
.clean_company-profile .name {
  margin-bottom: 20px;
}
.clean_company-profile .name h1 {
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
}
.clean_company-profile .img-circle {
  margin-top: 60px;
}

.clean_company-profile .status ul {
  margin: 0 auto 10px;
  padding: 0;
  display: table;
}
.clean_company-profile .status ul li {
  width: 120px;
  padding: 5px 0;
  border-right: 1px solid #ddd;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #777;
}
.clean_company-profile .status ul li:last-child {
  border: none;
}
.clean_company-profile .status ul li .status-label {
  font-size: 12px;
}
.clean_company-profile .status ul li .status-value {
  font-size: 18px;
}
*/


.clean_company .panel-body {
  width: 1000px;
}
.clean_company .panel-heading {
  height: 250px;
}
.clean_company .panel-heading img {
  height: 100%;
  max-width: 100%;
}

.clean_company {
  width: 700px;
}
.clean_company dl {
  width: 1000px;
}
.clean_company dt {
  float:left;
  clear:left;
  width:200px;
  font-size:20px;
}
.clean_company dd {
  float:left;
  width:380px;
  font-size:20px;
}
.clean_info dd {
  float:left;
  width:380px;
  font-size:20px;
}
p.item-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

/* search */
.search {
  margin-bottom: 20px;
}

/* company */
.company .panel-body {
  height: 70px;
}
.company .panel-heading {
  height: 250px;
}
.company .panel-heading img {
  height: 100%;
  max-width: 100%;
}
p.company-title {
  /* 文の行数を2行に保ち、最後に ... を追加するスタイル */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: center;
}

.users_companies {
  
  margin-top: 100px;
}

.tel {
  text-align:center;
  font-size: large
}

.square_meters{
  width:25%;
  float:left;
  margin-right: 5px;
}

.charge{
  width:40%;
  float: left;
}
.prefecture{
  clear:both;
  
}

.subject{
  font-size:20px;
  margin-top: 30px
}

.chargeslast{
  margin-bottom :40px
}

.area{
  font-size:25px;
  padding-top: 40px;
  clear: both
}

.chargetitle{
  font-size:25px;
  margin-top: 30px;
}