<ul>
  <% if @company.errors.any? %>
    <% @company.errors.full_messages.each do | message |%>
      <div class="alert alert-warning">
        <li><%= message %></li>
      </div>
    <% end %>
  <% end %>
  
  
  
  
</ul>

